@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    :focus {
        outline: none !important;
    }
}

//Buttons//
.landing_btn, .landing_btn_ghost {
    width: 170px;
    height: 55px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 24px;
}
.landing_btn {
    background: linear-gradient(90deg, #5390D9 0%, #5E60CE 110.66%);
    color: #FFFFFF;
    border: 0;
    transition: 0.9s all;
    &_promo {
        margin-right: 26px;
    }
    &_features {
        border-radius: 4px;
        width: 159px;
        height: 44px;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    &:hover {
        background: linear-gradient(90deg, #5390D9 100%, #5E60CE 0%);
        border: none;
        color: #fff;
    }
    &_ghost {
        background-color: transparent;
        border: 2px solid rgba(28, 35, 99, 0.7);
        color: rgba(28, 35, 99, 0.7);
        padding: 6px 12px;
        &:hover {
            background: linear-gradient(90deg, #5390D9 0%, #5390D9 100%);
            border: none;
            color: white;
        }
    }
    &_cta {
        margin-right: 24px;
    }
}
.landing_buttons__wrapper {
    display: flex;
    align-items: center;
    &_cta {
        margin-top: 25px;
        justify-content: center;
    }
}

//Titles
.landing_title {
    font-weight: 600;
    font-size: 50px;
    line-height: 57px;
    color: #1C2363;
    margin-bottom: 0;
    &_features {
        font-size: 40px;
        line-height: 40px;
    }
    &_cta {
        max-width: 746px;
        margin: 0 auto;
        font-size: 48px;
        line-height: 54px;
    }
}
.landing_paragraph {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #1C2363;
    &_overview {
        margin: 16px auto 0 auto;
        width: 582px;
    }
    &_features {
        margin-top: 14px;
    }
    &_cta {
        margin: 0 auto;
        margin-top: 20px;
        max-width: 621px;
    }
}

//Navbar//
.landing_mynavbar {
    padding: 0;
    padding-top: 15px;
    &__logo {
        font-weight: 600;
        font-size: 30px;
        line-height: 46px;
        color: #1C2363;
        &:hover {
            color: #1C2363;
        }
    }
    &__item {
        margin-right: 46px;
        a {
            font-size: 17px;
            line-height: 175.7%;
            color: #1C2363;
            transition: 0.7s all;
            &:hover {
                color:rgba(28, 35, 99, 0.4);
            }
        }
    }
    &__btn {
        width: 176px;
        height: 43.65px;
        border: 2px solid rgba(28, 35, 99, 0.8);
        border-radius: 10px;
        font-size: 17px;
        line-height: 24px;
        color: rgba(28, 35, 99, 0.8);
        background-color: transparent;
        transition: 0.7s all;
        &:hover {
            background: linear-gradient(90deg, #5390D9 0%, #5E60CE 110.66%);
            border: none;
            color: white;
        }
    }
    // &__overlay {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #fff;
    //     opacity: 0.9;
    //     z-index: 1;
    // }
    // &__zindex {
    //     position: relative;
    //     z-index: 3;
    // }
}
//To put links in the navbar to the right side
.landing_flex-end {
    justify-content: flex-end;
}

// Promo
.landing_promo {
    color: #1C2363;
    background-color: #EFEFFF;
    height: 850px;
    overflow: hidden;
    position: relative;
    .landing_polygon {
        width: 100%;
        position: absolute;
        bottom: -215px;
        z-index: 1;
    }
    &__wrapper {
        margin-top: 171px;
        display: flex;
    }
    &__left {
        width: 694px;
        // position: relative;
    }
    &__title {
        font-weight: 600;
        font-size: 70px;
        line-height: 105.5%;
    }
    &__descr {
        font-size: 24px;
        line-height: 33px;
        margin: 16px 0 26px 0;
    }
    &__img {
        position: absolute;
        right: 70px;
        bottom: 114px;
        z-index: 2;
        img {
            width: 100%;
        }
    }
}

//Overview
.landing_overview {
    padding-bottom: 117px;
    text-align: center;
    &__wrapper {
        margin-top: 72px;
    }
    &__img {
        margin: 0 auto;
        // width: 217px;
        height: 170px;
        img {
            height: 100%;
        }
    }
    &__subtitle {
        display: block;
        width: 196px;
        margin: 43px auto 0 auto;
        font-size: 28px;
        line-height: 35px;
        color: #1C2363;
    }
}
//Features
.landing_features {
    padding: 110px 0;
    background-color: #EFEFFF;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 90px;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    &__text {
        width: 435px;
    }
    &__img {
        width: 620px;
        img {
            width: 100%;
        }
    }
}
//CTA
.landing_cta {
    padding: 80px 0;
    &__box {
        padding: 60px 0;
        width: 100%;
        height: 385px;
        left: 140px;
        top: 3323px;
        background: #FFFFFF;
        border: 1px solid rgba(63, 61, 86, 0.13);
        box-shadow: 7px 8px 13px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        text-align: center;
    }
}
//Footer
.landing_footer {
    background-color: #EFEFFF;
    padding: 14px 0 16px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #1C2363;
        text-decoration: none;
        &:hover {
            color: #1C2363;
        }
    }
    &__descr {
        margin-top: 4px;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #1C2363;
        max-width: 169px;
    }
    &__right {
        text-align: right;
    }
    &__designer {
        max-width: 158px;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #1C2363;
    }
    &__website {
        font-size: 14px;
        line-height: 19px;
        color: #1C2363;
        text-decoration: none;
        &:hover {
            color: #5E60CE;
        }
    }
    &__links {
        margin-left: 8px;
        text-decoration: none;
        img {
            &:hover {
                color: #5E60CE;
            }
        }
    }
    &__copyright {
        font-size: 14px;
        line-height: 21px;
        color: #6D7D8B;
        text-align: center;
    }
}


@import 'media';